@tailwind base;
@tailwind components;
@tailwind utilities;

 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
 
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
 
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
 
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
 
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
 
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
 
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
 
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
 
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
 
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
 
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
 
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.underline-teal-200 {
  display: inline-block;
  position: absolute;
  left: -5px;
  bottom: -5px; /* Adjust as needed */
  width: calc(100% + 10px); /* Extend 2px wider on each side */
  height: 2px; /* Adjust as needed */
  background-color: rgb(94 234 212); /* Teal-200 color */
}

.square-card {
  margin-top: 30px;
  width: 230px; /* Or any desired width */
  background-color: #0E0D1D;
  position: relative;
  height: 220px; 
}

.square-card::before {
  content: "";
  display: block;
  height: 230px; /* This will make the height equal to the width */
}

.card-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.square-cards {
  width: 230px;
  height: 250px; /* Add margin between cards */
  position: relative;
  overflow: hidden;
  
}

.card-contents {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, black, transparent);
}

.stacked-images {
  position: relative;
}



.overlay {
  
  display: flex;
  bottom: 35px;
  left: 10px;
  padding: 5px;
  align-items: center;
  justify-content: center;
  
  /*background-color: rgba(0, 0, 0, 0.5);  Semi-transparent background */
  color: white;
  text-align: center;
}

.overlay-text {
  font-size: 16px;
}

.collection-name {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: transparent;/* Semi-transparent background */
  padding: 5px;
}
.overlays {
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, black, transparent);
}
